@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");


.clients-img {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.clients-img::-webkit-scrollbar {
  display: none;
}
